* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

/*

--timing-function-animation работает для каждого шага а не для всей анимации 
то есть если мы поставим ease то получим дёргание на каждом шагу перехлда анимации 
так как ease не плавный а дёрганный 
поэтому кста для лодареов ставят linear что бы шаги сменялись плавно 

--animation-direction alternate -- добавляет пинг понг эффект и полный цикл анимации делится на 
2 части это часть возрастания и часть аноброт 
то есть каждая половина анимации (вперёд и назад) будет завершаться за половину 
указанного времени анимации (так как alternate) разбивает её на 2 части

*/

.wrapper {
	padding: 20px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	font-size: 20px;
}